html {
    height: 100%;
}

* {
    max-height: 100000px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

header,
footer,
article,
section,
hgroup,
nav,
figure {
    display: block;
}

figure {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    color: #6c757e;
    min-width: 320px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: none;
    font: 14px/19px 'Karla', sans-serif;
    background: #fff;
}

body.login-screen {
    height: 100%;
    background: url('../images/bg-login.jpg') no-repeat;
    background-size: 100% 100%;
}

img {
    vertical-align: top;
    border-style: none;
}

a {
    text-decoration: none;
    color: #2b69a1;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

a:hover {
    color: #10761a;
    text-decoration: none;
    outline: none;
}

input[type="submit"],
input[type="button"] {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.list-none {
    margin: 0;
    padding: 0;
    list-style: none;
}

input[type=text],
input[type=password],
input[type=file],
input[type=image],
input[type=submit],
input[type=button],
input[type=search],
input[type=email],
input[type=checkbox],
textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: 0;
}

input,
textarea,
select {
    font-size: 100%;
    font-family: 'Champagne & Limousines';
    vertical-align: middle;
    color: #6e6e6e;
}

form,
fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}

a:focus {
    outline: none;
}

.img-responsive {
    width: 100%;
    height: auto;
    display: block;
}

#wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.login-screen #wrapper {
    height: 100%;
}

.login-area {
    width: 100%;
    height: 100%;
    display: table;
}

.login-holder {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.login-form {
    max-width: 710px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.login-form:after {
    /*background: #b7b8b7;*/
    content: "";
    height: 2px;
    left: 0;
    margin: 15px 0 0;
    position: absolute;
    right: 0;
    top: 50%;
}

.login-logo {
    width: 120px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}
/*.login-logo {
width: 233px;
float: left;
}

.login-logo img {
width: 100%;
height: auto;
display: block;
}*/

.login-form form {
    width: 389px;
    padding: 194px 0 0;
    font-size: 12px;
    line-height: 15px;
    float: right;
}

.input-fields {
    margin: 0 0 12px;
    border-radius: 4px;
    border: 2px solid #b7b8b7;
    overflow: hidden;
}

.login-form ::-webkit-input-placeholder {
    color: #fff;
}

.login-form ::-moz-placeholder {
    color: #fff;
}

.login-form ::-ms-placeholder {
    color: #fff;
}

.login-form ::placeholder {
    color: #fff;
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    height: 39px;
    color: #fff;
    margin: 0 0 20px;
    background: #7cc0c2;
    padding: 7px 14px;
    font: 12px/16px 'Karla', sans-serif;
    display: block;
}

.login-form input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin: 0;
    display: none;
}

.login-form .custom-label {
    padding: 6px 0 5px;
    position: relative;
    color: #fff;
    display: block;
}

.login-form .custom-label:after {
    width: 19px;
    height: 19px;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    border-radius: 100%;
    border: 2px solid #fff;
    background: none;
}

.login-form input[type="checkbox"]:checked+label:after {
    background: #2b69a1;
}

.login-form .row {
    margin: 0 0 20px;
    overflow: hidden;
}

.remember-me {
    width: 119px;
    float: right;
}

.login-form .row a {
    margin: 5px 0 0;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}

.login-form input[type="submit"],
.login-form .btn-submit {
    width: 180px;
    height: 45px;
    padding: 12px 10px;
    border: 2px solid #122d3f;
    float: right;
    background: #2b69a1;
    color: #fff;
    text-align: center;
    font: 12px/16px 'Karla', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}

.login-form input[type="submit"].login-button {
    float: none !important;
    display: block;
    margin: 0 auto;
    background: #7cc0c2;
    font-weight: 600;
    border: none;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.login-form input[type="submit"].login-button:hover {
    background: #000;
}

.login-form .row p {
    margin: 0;
    color: #fff;
    text-align: right;
}

#header {
    width: 100%;
    background: #181918;
    position: fixed;
    top: 0;
    z-index: 800;
}

.logo {
    width: 130px;
    height: 73px;
    padding: 9px 18px;
    float: left;
    background: #000;
}

.logo img {
    display: block;
    height: 55px;
    margin: 0 auto;
    width: 80px;
}

.client-area {
    width: 584px;
    float: right;
}

.client-area .search-form {
    width: 327px;
    margin: 18px 0 0;
    padding: 6px 8px;
    float: left;
    border-radius: 2px;
    background: #000;
}

.client-area .search-form input[type="search"] {
    background: #000;
    float: left;
    height: 24px;
    margin-left: 0;
    font: 14px/19px 'Karla', sans-serif;
    color: #fff;
    padding: 4px 10px;
    width: 275px;
}

.client-area .search-form input[type="submit"] {
    width: 24px;
    height: 23px;
    float: left;
    text-indent: -9999px;
    cursor: pointer;
    background: url('../images/bg-submit.png') no-repeat;
}

.user-info {
    width: 220px;
    padding: 24px 20px;
    float: right;
    position: relative;
    background: #000;
}

.user-info .img-holder {
    width: 35px;
    height: 36px;
    position: relative;
    border-radius: 100%;
    float: left;
}

.user-info .img-holder img {
    border-radius: 100%;
}

.user-info span {
    float: left;
    padding: 6px 0 0 20px;
    cursor: pointer;
    color: #fff;
}

.count-msg {
    width: 22px;
    height: 22px;
    padding: 1px 0 0 7px !important;
    position: absolute;
    top: -5px;
    right: -5px;
    color: #fff;
    border-radius: 100%;
    background: #2b69a1;
}

.count-msg:hover {
    color: #fff;
}

#sidebar {
    width: 130px;
    position: fixed;
    top: 73px;
    bottom: 0;
    background: #4b5e60;
    z-index: 100;
}

#sidebar ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.side-list li {
    position: relative;
}

.side-list li.active:before {
    width: 7px;
    height: 17px;
    margin: -9px 0 0;
    position: absolute;
    content: '';
    top: 37px;
    right: 0;
    background: url('../images/bg-tip.png') no-repeat;
    z-index: 500;
}

#sidebar ul li a {
    display: block;
    padding: 26px 10px;
    font-size: 14px;
    color: #FFF;
    text-transform: uppercase;
}

#sidebar ul li a i {
    margin-right: 3px;
}

#sidebar ul li.active a,
#sidebar ul li a:hover {
    background: #558070;
}

#sidebar .menu {
    padding: 22px 0 0;
}

#sidebar .menu a {
    width: 100%;
    height: 40px;
    display: block;
    background: url('../images/bg-menu.png') no-repeat;
    background-position: 50% 0;
    opacity: 0.30;
    text-indent: -9999px;
}

#sidebar .menu li.active a {
    opacity: 1;
}

#sidebar .menu li.store a {
    background-position: 50% -68px;
}

#sidebar .menu li.order a {
    background-position: 50% -140px;
}

#sidebar .menu li.users a {
    background-position: 50% -214px;
}

#sidebar .menu li.payments a {
    background-position: 50% -272px;
}

#sidebar .menu li.members a {
    background-position: 50% -337px;
}

#sidebar .menu li.settings a {
    background-position: 50% -405px;
}

#sidebar .menu li.logout a {
    background-position: 50% -477px;
}

.menu li {
    margin: 0 0 20px;
}

.content-area table td form {
    display: inline-block;
}

.content-area table td form button {
    border: 0px;
    background: transparent;
    cursor: pointer;
}

.content-area table td form button i {
    font-size: 18px;
}

.content-area table td form button i.fa-check {
    color: darkgreen;
}

.content-area table td form button i.fa-close {
    color: darkred;
}

#main {
    padding-top: 73px;
    overflow: hidden;
}

#content {
    padding-left: 130px;
    position: relative;
}

#content:after,
#content .header:after {
    display: block;
    clear: both;
    content: '';
}

#content .header {
    padding: 25px 43px;
    position: relative;
}

#content .header.border {
    border-bottom: 2px solid #f4f4f4;
}

#content .header.add:before {
    background: none;
}

#content .header.blue h2 {
    font-weight: 700;
    color: #2b69a1;
}

#content .header.blue {
    padding: 0 0 19px !important;
}

#content .breadcrumbs {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #558070;
    overflow: hidden;
}

#content .breadcrumbs a {
    color: #6c757e;
}

#content .breadcrumbs li {
    padding-right: 22px;
    position: relative;
    float: left;
}

#content .breadcrumbs li:after {
    width: 8px;
    height: 11px;
    position: absolute;
    content: '';
    top: 6px;
    left: -14px;
    background: url('../images/bread-tip.png') no-repeat;
}

#content .breadcrumbs li:first-child:after {
    background: none;
}

.achivements {
    padding: 11px 0;
    letter-spacing: -5px;
    box-shadow: 0 2px 3px 0 #ebebeb inset;
    background: #f6f6f6;
    overflow: hidden;
}

.achivements li {
    width: 20%;
    padding: 9px 17px;
    letter-spacing: 0;
    display: inline-block;
    vertical-align: top;
}

.achivements .txt-holder {
    padding-left: 17px;
    border-left: 3px solid #2b69a1;
    overflow: hidden;
}

.achivements strong {
    font-size: 35px;
    line-height: 36px;
    font-weight: 400;
    display: block;
}

.achivements span {
    display: block;
    color: #a5acb4;
}

.stats-holder {
    margin: 0 0 60px;
    overflow: hidden;
}

.stats-holder.sliders-area {
    margin: 0;
    padding: 20px 0 0;
}

.sliders-area.add {
    padding-left: 41px;
}

.stats-holder .stat-col {
    width: 48%;
    float: right;
    position: relative;
}

.stats-holder .stat-col:first-child {
    float: left;
}

#content .stats-holder .header {
    padding: 0 0 40px;
}

#content .stats-holder .header:after {
    background: none;
}

.stats-form {
    float: right;
}

.stats-holder h2 {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    overflow: hidden;
}

.custom-row ul {
    width: 98px;
    height: 28px;
    font-size: 12px;
    line-height: 16px;
    color: #a09f9f;
    border-radius: 2px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    border: 1px solid #e1e1e1;
    background: #fff;
    overflow: hidden;
}

.custom-row ul.toggle {
    height: auto;
    overflow: visible;
}

.custom-row {
    position: relative;
}

.custom-row ul:after {
    width: 7px;
    height: 5px;
    position: absolute;
    content: '';
    top: 11px;
    right: 7px;
    background: url('../images/bg-tip2.png') no-repeat;
}

.custom-row ul li {
    padding: 5px 10px 6px;
    cursor: pointer;
}

.custom-row ul li:hover {
    background: #dfdede;
}

.content-area {
    padding: 35px 35px 15px;
    overflow: hidden;
}

.content-area.p-details {
    padding: 0 35px 15px 0;
}

.content-area.add {
    padding: 11px 41px 15px 0;
}

.content-area.border-top {
    border-top: 2px solid #f4f4f4;
}

.gallery {
    width: 100%;
}

.gallery .slide {
    width: 100%;
    float: left;
}

.gallery .mask {
    width: 100%;
    overflow: hidden;
}

.gallery .pagination {
    position: absolute;
    left: 50%;
    overflow: hidden;
}

.gallery ul {
    letter-spacing: -5px;
    overflow: hidden;
}

.gallery ul li {
    width: 33.3%;
    margin: 0 0 32px;
    letter-spacing: 0;
    display: inline-block;
    vertical-align: top;
}

.gallery ul.blue li {
    width: 50%;
}

.gallery ul.blue .name-holder strong {
    color: #172434;
}

.gallery ul .img-holder {
    width: 51px;
    height: 51px;
    float: left;
    border-radius: 100%;
    overflow: hidden;
}

.gallery .name-holder {
    padding: 8px 8px 0 15px;
    float: left;
    font-size: 12px;
    line-height: 16px;
    color: #a5aaae;
}

.gallery .name-holder strong {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    display: block;
}

.gallery .name-holder span {
    display: block;
}

.gallery .btn-prev,
.gallery .btn-next {
    width: 22px;
    height: 22px;
    border: 1px solid #dfdede;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    right: 0;
    background: url('../images/right-tip.png') no-repeat;
    background-position: 50% 50%;
    border-radius: 0 2px 2px 0;
    overflow: hidden;
}

.gallery .btn-prev {
    right: 21px;
    background: url('../images/left-tip.png') no-repeat;
    background-position: 50% 50%;
    border-radius: 2px 0 0 2px;
}

.progressbar {
    font-size: 18px;
    line-height: 22px;
    display: inline-block;
}

.circle {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    display: inline-block;
    position: relative;
    text-align: center;
}

.circle canvas {
    width: 130px;
    margin: 0 0 13px;
    display: inline-block;
    vertical-align: middle;
}

.circle .percent-val {
    position: absolute;
    top: 49px;
    left: 4px;
    width: 100%;
    font-size: 30px;
    line-height: 34px;
    color: #343a41;
    text-align: center;
}

.circle strong i {
    font-style: normal;
    font-size: 0.6em;
    font-weight: normal;
}

.circle span {
    display: block;
    color: #aaa;
    margin-top: 12px;
}

.progressbar p {
    margin: 0;
}

.progressbar p em {
    display: block;
    font-style: normal;
}

.search-area {
    margin: 0 0 40px;
}

.search-area:after {
    display: block;
    clear: both;
    content: '';
}

.search-area.add {
    padding-right: 24px;
}

.align-right {
    float: right;
}

.btn-primary {
    width: 251px;
    padding: 11px 13px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    background: #4b5e60;
}

.btn-primary:hover {
    color: #fff;
    background: #000;
}

.search-query {
    overflow: hidden;
}

.search-area .search-panel strong {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 22px;
    margin-right: 10px;
}

.search-area .search-panel form {
    display: inline-block;
    vertical-align: middle;
    width: 326px;
    padding: 7px 8px;
    border-radius: 3px;
    background: #f6f6f6;
    overflow: hidden;
}

.search-query form input[type="submit"] {
    width: 24px;
    height: 23px;
    margin-right: 5px;
    text-indent: -9999px;
    float: left;
    cursor: pointer;
    background: url('../images/bg-submit.png') no-repeat;
    overflow: hidden;
}

.search-query form input[type="search"] {
    width: 276px;
    padding: 4px 10px;
    font: 14px/19px "Karla", sans-serif;
    float: left;
    border: 0;
    background: none;
}

.content-area table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.content-area table th,
.content-area table td {
    padding: 10px;
    border-top: 1px solid #f2f2f2;
    border-collapse: collapse;
    text-align: left;
}

.content-area table td a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}

.content-area table td a .fa-check {
    color: #3e6d0c;
}

.content-area table td a .fa-close {
    color: #ad0a0a
}

.content-area table th.empty-th,
.content-area table td.empty-td {
    width: 100px;
}

.content-area table td {
    border-bottom: 1px solid #f2f2f2;
}

.content-area table th {
    color: #2a2a2a;
}

.content-area table th:last-child,
.content-area table td:last-child {
    text-align: center;
}

.btn-action {
    width: 24px;
    height: 23px;
    display: inline-block;
    vertical-align: top;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    text-indent: -9999px;
    background: url('../images/btns.png') no-repeat;
    overflow: hidden;
}

.btn-action:hover {
    background-position: 0 -24px;
}

.btn-action.delete {
    margin-left: 19px;
    background-position: -52px -2px;
}

.btn-action.delete:hover {
    background-position: -52px -26px;
}

.lightbox-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 82px;
    background: #fff;
    display: none;
}

.lightbox-container.active {
    display: block;
}

#productDetail-box .header {
    border-bottom: 2px solid #f4f4f4;
}

.btn-close-popup {
    color: #212226;
}

.slider-cols {
    padding-right: 30px;
    text-align: justify;
    overflow: hidden;
}

.slider-cols .col {
    width: 48%;
    padding: 70px 0 40px;
    float: right;
}

.slider-cols.add .col {
    padding: 40px 0 10px;
}

.slider-cols .col:first-child {
    float: left;
    background: #f1efef;
}

.flexslider .flex-viewport img {
    max-width: 100%;
    width: auto !important;
}

.heading-txt {
    margin: 0 0 30px;
    font-size: 23px;
    line-height: 27px;
    font-weight: 700;
    color: #2b69a1;
    text-align: center;
    overflow: hidden;
}

.heading-txt h2 {
    margin: 0;
    font-size: 32px;
    line-height: 36px;
    color: #000;
    text-transform: uppercase;
}

.heading-txt p {
    margin: 0;
}

.col-content {
    font-size: 24px;
    line-height: 28px;
    color: #181918;
    overflow: hidden;
}

.col-content p {
    margin: 0 0 28px;
}

.col-content dl {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #000;
    overflow: hidden;
}

.col-content dl dt {
    width: 234px;
    padding-right: 10px;
    float: left;
}

.col-content dl dd {
    margin: 0 0 5px;
    color: #2b69a1;
    overflow: hidden;
}

.btns {
    margin: 0 0 122px;
    overflow: hidden;
}

.btns.no-margin {
    margin: 0;
}

.btn-primary.delete {
    background: #5d5d5d;
}

.btns a {
    width: 191px;
    position: relative;
}

.btns a:before {
    width: 24px;
    height: 23px;
    margin-right: 7px;
    display: inline-block;
    vertical-align: middle;
    content: '';
    background: url('../images/btns.png') no-repeat 0 -49px;
}

.btns a.delete:before {
    background-position: -52px -51px;
}

.dialogue {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 500;
}

.dialogue.active {
    display: block;
}

.dialogue-holder {
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
}

.confirm-msg {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.confirm-txt {
    max-width: 681px;
    margin: 0 auto;
    background: #fff;
    border: 2px solid #4b5e60;
}

.confirm-msg .header {
    position: relative;
    background: #4b5e60;
    overflow: hidden;
}

.confirm-msg h2 {
    margin: 0;
    padding: 15px 60px;
    font-size: 21px;
    line-height: 25px;
    color: #fff;
    text-align: center;
}

.confirm-txt .txt {
    padding: 31px 20px 50px;
    font-size: 22px;
    line-height: 26px;
    overflow: hidden;
}

.confirm-txt .txt img {
    width: 40px;
    margin: 0 auto 20px;
    display: block;
}

.confirm-txt p {
    margin: 0 0 25px;
}

.confirm-txt .btns {
    margin: 0;
}

.confirm-txt .btns a {
    background: #5d5d5d;
}

.confirm-txt .btns .delete {
    background: #4b5e60;
}

.confirm-txt .btns a:hover {
    color: #fff;
    background: #000;
}

.btns .cancel:before {
    background-image: url('../images/btns.png');
    background-repeat: no-repeat;
    background-position: -28px -51px;
}

.dialogue .btn-close {
    width: 26px;
    height: 26px;
    border: 1px solid #fff;
    text-align: center;
    position: absolute;
    top: 13px;
    right: 30px;
    font-size: 17px;
    line-height: 21px;
    color: #fff;
    border-radius: 100%;
}

.heading-txt.add h2 {
    font-size: 18px;
    line-height: 22px;
    text-transform: none;
    text-align: left;
    font-weight: 400;
    color: #2b69a1;
}

.form-fields {
    max-width: 600px;
    margin: 0 auto;
}

.form-fields label,
.form-fields>div {
    display: block;
    margin-bottom: 20px;
    padding: 0px 10px;
}

.form-fields label span {
    display: block;
    margin-bottom: 5px;
}

.form-fields label input,
.form-fields label select,
.form-fields>div input,
.form-fields select {
    width: 100%;
    padding: 10px;
    background: #fff;
}

.form-fields input[type="file"] {
    padding-left: 0;
    padding-right: 0;
}

.form-fields label.half-field,
.form-fields>div {
    float: left;
    width: 50%;
}

.form-fields .full-width {
    width: 100%;
    float: none;
}

.form-fields label.half-field.btn-field input {
    background: #4b5e60;
    border: 0px;
    cursor: pointer;
}

.form-fields label.half-field.btn-field input {
    background: #4b5e60;
    border: 0px;
    cursor: pointer;
}

.form-fields label.half-field.btn-field input:hover {
    background: #000;
}

.add-product-form {
    padding: 60px 0 0;
    overflow: hidden;
}

.add-product-form .row {
    margin: 0 0 10px;
    overflow: hidden;
}

.add-product-form label {
    width: 125px;
    font-size: 15px;
    line-height: 19px;
    font-weight: bold;
    color: #212226;
    margin: 10px 0 0;
    float: left;
}

.add-product-form .align-left {
    width: 125px;
    float: left;
}

.add-product-form .align-right {
    width: 70%;
    float: right;
}

.add-product-form input[type="text"],
.add-product-form input[type="tel"],
.add-product-form input[type="email"],
.add-product-form input[type="password"],
.add-product-form select,
.add-product-form textarea {
    width: 100%;
    height: 42px;
    margin: 0 0 20px;
    padding: 10px 30px;
    float: right;
    border: 1px solid #edecf4;
    background: #e9f0f5;
    font: 15px/19px 'Karla', sans-serif;
    color: #212226;
    resize: none;
}

.add-product-form .save {
    font: 15px/19px 'Karla', sans-serif;
}

.add-product-form .align-right select {
    width: 100% !important;
}

.add-product-form textarea {
    height: 250px;
}

.row.btns {
    text-align: right;
}

.add-product-form .save:before {
    background-position: -30px -12px;
}

.btns a.brown {
    background: #5d5d5d;
}

.btn-action.approve {
    background-position: -54px -81px;
}

.btn-action.approve.active {
    background-position: 0 -81px;
}

.stats-form strong {
    margin: 0 0 4px;
    display: block;
    font-size: 13px;
    line-height: 17px;
    color: #2b69a1;
}

.order-cols {
    overflow: hidden;
}

.order-header {
    padding: 0 0 14px 41px;
    overflow: hidden;
}

.order-header .btns {
    margin: 0;
}

.order-header .btns a {
    padding: 9px 13px;
}

.order-header .btns {
    float: right;
}

.order-header h2 {
    margin: 0;
    font-size: 32px;
    line-height: 36px;
    color: #000;
    overflow: hidden;
}

.order-header h2 span {
    color: #2b69a1;
}

.btns a.green {
    background: #14a14b;
}

.btns a.green:before {
    background-position: -26px -81px;
}

.order-cols-holder {
    font-size: 18px;
    line-height: 22px;
    color: #181918;
    overflow: hidden;
}

.order-cols-holder .col {
    width: 49.7%;
    //                        min-height: 289px;
    padding: 20px 41px 40px;
    float: right;
    background: #f1efef;
}

.order-cols-holder .col:first-child {
    float: left;
}

.order-cols-holder .title,
.order-cols-holder .bold {
    font-size: 16px;
    line-height: 20px;
}

.order-cols-holder .title {
    margin: 0 0 6px;
    display: block;
    color: #2b69a1;
}

.order-cols-holder .bold {
    margin: 0 0 13px;
    display: block;
    font-weight: 700;
    font-style: normal;
    display: block;
    color: #000;
    overflow: hidden;
}

.order-cols-holder .bold span {
    display: block;
}

.order-cols-holder p {
    margin: 0;
}

.price-info {
    width: 200px;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    font-weight: 700;
    float: left;
}

.price-info strong {
    margin: 0 0 2px;
    display: block;
    color: #2b69a1;
}

.price-info span {
    margin: 0 0 20px;
    display: block;
}

.price-info .gift-name {
    display: inline-block;
    clear: both;
    text-decoration: underline;
}

.total-price {
    width: 252px;
    padding: 40px 0 0;
    font-size: 22px;
    line-height: 26px;
    color: #2b69a1;
    float: right;
}

.total-price span {
    margin: 0 0 9px;
    display: block;
}

.total-price h3 {
    margin: 0 0 2px;
    font-size: 30px;
    line-height: 34px;
    font-weight: 400;
}

.total-price .price {
    margin: 0 0 5px;
    font-size: 40px;
    line-height: 44px;
}

.total-price .price sub {
    font-size: 15px;
    line-height: 19px;
}

.create-form {
    overflow: hidden;
}

.create-form .m-row {
    margin: 0 0 43px;
    overflow: hidden;
}

.create-form .m-row .col {
    width: 48%;
    float: right;
}

.create-form .m-row .col:first-child {
    float: left;
}

.create-form label {
    font-weight: 700;
    color: #212226;
}

.create-form input {
    width: 78% !important;
}

.logout-area {
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
}

.logout-area {
    background: #f6f6f6;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

.logout-area.list-none a {
    display: block;
    padding: 3px;
}

.gallery .pagination {
    display: none;
}

.text-center {
    text-align: center;
}

.btn-sidebar {
    font-size: 27px;
    line-height: 31px;
    font-weight: bold;
    position: absolute;
    top: 73px;
    right: 27px;
    display: none;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    z-index: 500;
}

#content .header a.align-right {
    color: #212226;
}

.add-images input[type="file"] {
    display: none;
}

.create-form h2 {
    margin: 0 0 33px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #2b69a1;
}

.add-images input[type="file"] {
    display: none;
}

.add-images label {
    width: 194px;
    height: 194px;
    margin: 50px auto 10px;
    display: block;
    font-size: 0;
    background: url('../images/bg-file.png') no-repeat;
    background-size: 100% 100%;
}

#form-errors {
    padding:0;
    font-size: 14px;
    line-height: 16px;
    color: #FF0000;
    overflow: hidden;
}

.alert.alert-success {
    color: #008000;
}

.full-width.staff {
    overflow: hidden;
}

.custom-input:after {
    display: block;
    clear: both;
    content: '';
}

.full-width.staff input {
    width: 40%;
    float: left;
    border: none;
}

.full-width.staff img.upload-image {
    width: 150px;
    height: 100px;
    margin-top: -20px;
    float: right;
}

.uploaded-files {
    width: 42%;
    max-height: 100px;
    float: right;
    text-align: right;
    overflow-y: auto;
}

.uploaded-files a {
    margin-left: 15px;
}

.login-form-area {
    height: 100vh;
    width: 100%;
    display: table;
}

.login-form-holder {
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.login-header h4 {
    color: #fff;
}

.error-list {
    margin: 0 0 10px;
    overflow: hidden;
    font-weight: normal;
    font-size: 13px;
    color: #dd5353;
    line-height: 17px;
    text-align: center;
}

.content-area table td form button {
    padding: 0;
}

@media only screen and (max-width: 1200px) {
    .circle canvas {
        width: 110px;
    }
    .circle .percent-val {
        top: 39px;
        font-size: 24px;
    }
    .gallery .name-holder {
        width: 100%;
        clear: both;
        float: none;
        overflow: hidden;
    }
    .add-product-form label {
        width: 105px;
        font-size: 14px;
    }
    .create-form input {
        width: 70% !important;
    }
    .price-info {
        width: 136px;
    }
}

@media only screen and (max-width:999px) {
    .achivements strong {
        font-size: 20px;
        line-height: 24px;
    }
    .achivements {
        font-size: 13px;
    }
    .achivements li {
        padding: 9px;
    }
    .achivements .txt-holder {
        padding-left: 10px;
        border-width: 2px;
    }
    .content-area {
        padding: 35px 15px 15px;
    }
    .circle canvas {
        width: 90px;
    }
    .circle .percent-val {
        font-size: 18px;
        top: 28px;
    }
    .progressbar {
        font-size: 14px;
        line-height: 18px;
    }
    .gallery .name-holder {
        padding: 8px 0;
    }
    .slider-cols.add .col {
        padding: 10px 0;
    }
    .heading-txt {
        margin: 0 0 10px;
    }
    .content-area.p-details {
        padding: 0 15px 15px 0;
    }
    .slider-cols {
        padding-right: 0;
    }
    #content .header {
        padding: 25px 15px;
    }
    .add-product-form label {
        font-size: 13px;
        width: 109px;
    }
    .add-product-form input[type="text"],
    .add-product-form input[type="tel"],
    .add-product-form input[type="email"],
    .add-product-form input[type="password"],
    .add-product-form textarea,
    .add-product-form .align-right {
        width: 100% !important;
    }
    .btn-primary {
        padding: 8px 13px;
    }
    .btns a {
        width: 141px;
    }
    .order-cols-holder .col {
        padding: 20px 15px 20px;
    }
    .total-price {
        width: 152px;
    }
    .total-price h3 {
        font-size: 19px;
    }
    .total-price {
        font-size: 15px;
    }
    .total-price .price {
        font-size: 30px;
    }
    .confirm-txt .btn-primary {
        font-size: 12px;
    }
    .confirm-msg h2 {
        padding: 12px 60px;
        font-size: 18px;
        line-height: 22px;
    }
    .confirm-txt .txt {
        padding: 11px 20px 40px;
    }
    .confirm-txt {
        max-width: 541px;
    }
}

@media only screen and (max-width: 767px) {
    #header {
        background: #000;
    }
    .content-area table td form button i {
        font-size: 12px;
    }
    #content .header a.align-right {
        position: relative;
        top: 3px;
        right: 40px;
    }
    .btn-sidebar {
        display: block;
    }
    .logo {
        height: 100%;
    }
    .login-form:after {
        background: none;
    }
    .login-form input[type="text"],
    .login-form input[type="email"] {
        border-bottom: 2px solid #b7b8b7;
    }
    /*.login-logo {
    float: none;
    display: block;
    margin: 0 auto;
}*/
    .login-form form {
        float: none;
        display: block;
        padding: 20px 0 0;
        margin: 0 auto;
    }
    .achivements {
        padding: 0;
        font-size: 12px;
    }
    .achivements li {
        width: 33.3%;
        padding: 6px;
    }
    .client-area {
        width: 185px;
    }
    .client-area .search-form {
        width: 100%;
        margin: 0;
        float: none;
    }
    .client-area .search-form input[type="search"] {
        width: 198px;
    }
    .user-info {
        width: 100%;
        float: none;
        overflow: hidden;
    }
    #main {
        padding-top: 76px;
    }
    #sidebar {
        width: 62px;
        top: 73px;
    }
    #content {
        padding-left: 62px;
    }
    #content .header {
        padding: 25px 13px;
    }
    .btn-primary {
        padding: 10px;
        width: 150px;
    }
    .search-query form {
        width: 190px;
        padding: 6px 8px;
    }
    .search-query form input[type="search"] {
        width: 140px;
    }
    .table-holder {
        width: 100%;
        padding: 0 0 10px;
        overflow-x: scroll;
    }
    .table-holder table {
        width: 105% !important;
    }
    .content-area table th,
    .content-area table td {
        padding: 3px;
        font-size: 12px;
        line-height: 16px;
    }
    .btn-action.delete {
        margin-left: 0;
    }
    .login-holder {
        padding-top: 20px;
        display: block;
    }
    /*.login-logo {
    width: 120px;
}*/
    .login-form .row {
        margin: 0 0 10px;
    }
    .login-form form {
        width: 300px;
    }
    .stats-holder h2 {
        font-size: 14px;
    }
    #content .header {
        padding: 25px 18px;
    }
    #content .breadcrumbs {
        font-size: 17px;
        color: #4b5e60;
    }
    #content {
        padding-left: 0;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
    }
    #sidebar {
        width: 93px;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transform: translate(-100%, 0);
        -webkit-transform: translate(-100%, 0);
        -moz-transform: translate(-100%, 0);
    }
    #sidebar.active {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
    }
    #content.active {
        transform: translate(93px, 0);
        -webkit-transform: translate(93px, 0);
        -moz-transform: translate(93px, 0);
    }
    #content.active .btn-sidebar {
        right: 107px;
    }
    .achivements li {
        width: 50%;
    }
    .stats-holder .stat-col,
    .stats-holder .stat-col:first-child {
        width: 100%;
        margin: 0 0 20px;
        float: none;
        overflow: hidden;
    }
    .content-area {
        padding: 10px 15px;
    }
    .gallery ul li {
        margin: 0 0 10px;
    }
    .stats-holder {
        margin: 0;
    }
    #content .stats-holder .header {
        padding: 0 20px 18px 0;
    }
    .search-query form,
    .search-query .btn-primary,
    .search-query {
        width: 100%;
        margin: 0 0 10px;
        float: none;
        display: block;
    }
    .search-query form input[type="search"] {
        width: 80%;
    }
    .content-area table th,
    .content-area table td {
        font-size: 10px;
        line-height: 14px;
        word-wrap: break-word;
    }
    .btn-action.delete {
        margin: 4px 0 0;
    }
    .add-product-form .row {
        margin: 0 0 10px;
    }
    .add-product-form label {
        margin: 0 0 4px;
        float: none;
        text-align: left;
        display: block;
    }
    .add-product-form input[type="text"],
    .add-product-form input[type="tel"],
    .add-product-form input[type="email"],
    .add-product-form input[type="password"],
    .add-product-form textarea,
    .add-product-form .align-left,
    .add-product-form .align-right {
        width: 100% !important;
        display: block;
        float: none;
    }
    .add-product-form .btns a {
        width: 100%;
        margin: 0 0 5px;
        display: block;
    }
    .add-images label {
        width: 100px;
        height: 100px;
    }
    .flex-direction-nav a {
        margin: 0 !important;
    }
    .flex-control-thumbs {
        margin: 40px 0 0 !important;
    }
    .order-header {
        padding: 0 0 14px 15px;
    }
    .order-header h2 {
        font-size: 18px;
    }
    .content-area.add {
        padding: 11px 15px 15px;
    }
    .content-area.add .col:first-child,
    .content-area.add .col {
        width: 100%;
        float: none;
        margin: 0 0 10px;
        height: auto !important;
        overflow: hidden;
    }
    .order-cols-holder .title,
    .order-cols-holder .bold,
    .order-cols-holder .title {
        font-size: 14px;
        line-height: 18px;
    }
    .order-cols-holder .bold {
        margin: 0 0 5px;
    }
    .order-cols-holder {
        font-size: 13px;
        line-height: 17px;
    }
    .dialogue-holder {
        padding: 0 15px;
    }
    .confirm-txt {
        width: 100%;
        max-width: none;
    }
    .search-area .search-panel form {
        width: 100%;
        padding: 7px 8px;
        display: block;
    }
    .search-area .search-panel strong {
        margin: 0 0 5px;
        display: block;
    }
    #sidebar ul li a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 480px) {
    .add-product-form .btn-primary {
        margin: 0 0 5px;
        width: 100%;
    }
    .slider-cols.add .col:first-child,
    .slider-cols.add .col {
        width: 100%;
        float: none;
    }
    .content-area.p-details {
        padding: 0 15px 15px;
    }
    #content .breadcrumbs {
        font-size: 10px;
    }
    #content .breadcrumbs li {
        padding-right: 17px;
    }
    #content .breadcrumbs li:after {
        left: -12px;
    }
    .create-form .m-row {
        margin: 0;
    }
    .create-form .m-row .col:first-child,
    .create-form .m-row .col {
        width: 100%;
        margin: 0 0 10px;
        float: none;
        display: block;
    }
    .add-product-form label {
        width: 100%;
    }
    .order-header {
        width: 100%;
        padding-left: 0;
        display: table;
    }
    .order-header .btns {
        width: 100%;
        display: table-footer-group;
    }
    .order-header h2 {
        display: table-header-group;
    }
    .order-header .btns a {
        width: 100%;
        margin: 0 0 3px;
        display: block;
    }
    .price-info,
    .total-price {
        width: 100%;
        padding-top: 0;
        float: none;
        overflow: hidden;
    }
    .price-info span {
        margin: 0 0 10px;
    }
    .confirm-txt .txt img {
        margin: 0 auto 10px;
    }
    .confirm-txt .txt {
        font-size: 15px;
        line-height: 19px;
    }
    .confirm-txt p {
        margin: 0 0 15px;
    }
    .confirm-txt .txt img {
        width: 40px;
        height: 40px;
    }
    .confirm-txt .txt {
        padding: 11px 10px 30px;
        font-size: 12px;
        line-height: 16px;
    }
    .confirm-txt .btns a {
        width: 100%;
        margin: 0 0 3px;
        float: none;
        display: block;
    }
    .uploaded-files {
        font-size: 12px;
        line-height: 16px;
    }
    .uploaded-files a {
        margin-left: 5px;
    }
    .full-width.staff img {
        width: 100px;
        height: 70px;
    }
    .full-width.staff input,
    .uploaded-files,
    .full-width.staff img {
        width: 100%;
        height: auto;
        display: block;
        margin: 0;
        float: none;
        text-align: left;
        overflow: hidden;
    }
    .content-area table th.empty-th,
    .content-area table td.empty-td {
        width: 0;
        display: none;
    }
    .table-holder table {
        width: 115% !important;
    }
    .form-fields label.half-field {
        width: 100%;
        float: none;
        overflow: hidden;
    }
    .full-width.staff img.upload-image {
        width: 130px;
        margin: 0;
        float: left;
        clear: both;
    }
    .form-fields label.half-field,
    .form-fields>div,
    .form-fields input {
        width: 100%;
        float: none;
        clear: both;
    }
}